<header class="product-header">
    <div class="product-header__title">
      <h1>Listado de productos</h1>
    </div>
    <div class="product-header__buttons">
      <button class="product-header__button product-header__button--list">
        <i class="fas fa-list"></i>
      </button>
      <button class="product-header__button product-header__button--grid">
        <i class="fas fa-th"></i>
      </button>
    </div>
    <div class="product-header__search">
      <input type="text" placeholder="Buscar productos">
      <button class="product-header__button product-header__button--search">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </header>
  
