$shop-font: 'Roboto', sans-serif;

footer {
  background-color: #333333;
  color: #ffffff;
  font-family: $shop-font;
  font-size: 14px;
  padding: 20px;
  
  .footer_up {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer_nav {
    text-align: center;
    margin-bottom: 20px;
    
    .footer_list {
        display: flex;
        justify-content: center;
        align-items: center;
        
        li {
            margin: 0 10px;
            &::after {
            content: '|';
            margin-left: 10px;
            }
            &:last-child {
            &::after {
            content: '';
            }
            }
        }
    }
  }
  
  .footer_copyRight {
    text-align: center;
  }
}
